@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: air;
  src: url(air.woff2);
}

body {
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
  background: var(--ligh);
  background: rgb(21, 0, 36);
  /* box-shadow: inset 0 0 50px #2d057e; */
}

:root {
  --ligh: rgb(84, 23, 137);
  --org: rgb(220, 176, 255);
  --sec: rgb(161, 120, 233);
}

.logo-img {
  width: 7vw;
}

.head {
  /* background: var(--ligh); */
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgba(56, 0, 84, 0.488);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.float {
  position: fixed;
  width: 100vw;
  left: 0;
  opacity: 100;
  z-index: 9;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 20px;
}

.pages > a {
  /* text-transform: uppercase; */
  font-size: 1.8vh;
  font-weight: 500;
  margin-left: 10px;
  color: var(--sec);
}

.pages > a :hover {
  color: var(--sec);
  font-family: "Instrument Sans", sans-serif;
}

.acc-cont::before {
  content: "";
  border: 1px solid var(--sec);
  border-radius: 23px;
  height: 6vh;
  /* margin-right: 10px; */
}

.acc-log {
  color: var(--ligh) !important;
  /* border: 1px solid var(--org); */
  background: var(--sec);
  border-radius: 50%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.acc-log-btn {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #cfb7ff;
  font-weight: 800;
  display: none;
}

.acc-log-btn:hover {
  background-color: #5500ff;
  font-weight: 800;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.hero-img {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  /* filter: brightness(50%); */
}

.hero-text {
  position: absolute;
  z-index: 6;
  font-size: 5em;
  color: var(--ligh);
  font-weight: 100;
}

.flight-head {
  font-weight: 700;
  font-size: 5em;
  color: var(--org);
}

.cont {
  padding: 30px 50px;
}

.flight {
  background: linear-gradient(
    to top left,
    rgb(103, 10, 157),
    rgb(17, 0, 39),
    rgb(19, 0, 34)
  );
  padding: 10px 50px;
  color: var(--org);
  border-radius: 15px;
  margin: 50px;
  border: 2px solid rgb(103, 10, 157);
}

.flight > * {
  color: white;
}

.acc-btn {
  width: 3vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background: var(--ligh);
}

.acc-img {
  width: 100%;
}

.acc-cont {
  /* margin: 10px; */
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.acc-inf {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--sec);
}

.acc-nat {
  font-weight: 200;
  font-size: 0.8vw;
}

.acc-name {
  font-weight: 800;
}

.cont {
  background: rgb(21, 0, 36);
  /* box-shadow: inset 0 0 50px #2d057e; */
}

.flight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  color: black;
}

.flight-inf {
  background: var(--org);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  color: #2d057e;
  gap: 0.6vw;
  align-items: center;
  position: relative;
}

.dw {
  bottom: -2vh;
}

.flight-dt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flight-time {
  font-weight: 500;
  font-family: air;
  font-size: 1.5vw;
}

.flight-date {
  font-size: 1vw !important;
}

.flight-bk {
  display: flex;
  flex-direction: column;
}

.flight-booking {
  position: relative;
  bottom: -35px;
  background: var(--org);
  border: 2px solid var(--ligh);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: air;
  color: var(--ligh);
}

.flight-booking:hover {
  background: var(--sec);
}

.top-menu-cont {
  display: flex;
  justify-content: center;
}

.flight-take-off-icon {
  content: url(https://travel.airindia.com/statics/applications/booking-com/dist/9.2.9-ai-ai-booking.114/material-symbols_flight-takeoff.8aed8e9150106ee4.svg);
  filter: brightness(0) saturate(100%) invert(33%) sepia(16%) saturate(585%)
    hue-rotate(164deg) brightness(92%) contrast(92%);
}

.flight-take-in-icon {
  content: url(https://travel.airindia.com/statics/applications/booking-com/dist/9.2.9-ai-ai-booking.114/ic_round-flight-land.e3a15d8183491f76.svg);
  filter: brightness(0) saturate(100%) invert(33%) sepia(16%) saturate(585%)
    hue-rotate(164deg) brightness(92%) contrast(92%);
}

.custom-hr {
  border: none;
  border-top: 2px dashed var(--org);
  width: 25%;
  margin: 0;
}

.flight-dash {
  content: url(https://travel.airindia.com/statics/applications/booking-com/dist/9.2.9-ai-ai-booking.114/dashed-border-boundline.2c848b8e8dbf9a6a.svg);
  width: 25%;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.8vw;
  background: rgba(100, 0, 118, 0.286);
  border: 1px solid rgba(206, 0, 242, 0.334);
  padding: 10px;
  width: max-content;
  border-radius: 15px;
}

.top-menu > button {
  border-radius: 7px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(206, 0, 242, 0.418); /* box-shadow: 5px 5px 9px #c4d5d9, -5px -5px 9px #ffffff; */
  border: none;
  /* font-weight: 800; */
  font-family: air;
  /* font-size: 1.5vw; */
  color: rgb(255, 255, 255);
  padding: 10px;
  transition: width 2s;
}

.top-menu > button:hover {
  background: rgb(86, 2, 134);
}

.flight-dest-cont {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.flight-dest-cont:nth-child(1) > span {
  text-align: left;
}

.flight-dest {
  font-family: air;
  font-size: 2vw;
}

.waiting {
  /* border: 3px solid white; */
  padding: 10vh 23vw;
  border-radius: 24px;
  background: #000000;
  box-shadow: inset 0 0 50px #68057e;
}

.waiting-ms {
  text-align: center;
  color: #ffffff;
}

.waiting-smart {
  text-transform: capitalize;
  background: linear-gradient(to top left, rgb(81, 0, 255), rgb(238, 207, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hid {
  display: none;
}
